* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #9f8860;
    margin: 0px;
    color: white;
}

.nav-bar{
    display:flex;
    align-items:center;
    padding:0 25px;
    background:#111;
    height:60px;
}

.menu-icon{
    display:flex;
    flex-direction:column;
    gap:5px;
}

.nav-button:first-of-type{
    margin-left:auto;
}

.nav-button{
    color:white;
    text-decoration:none;
    font-weight:bold;
    margin-left:30px;
}

.menu-icon span{
    width:30px;
    height:4px;
    background:white;
}

.hero-banner{

    background-image:url("Ohyeahart.jpg");

    background-size:cover;
    background-position:center;

    height: 150px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-banner a{

    text-decoration:none;
    color:white;
    font-size:60px;
    font-weight:bold;
    text-shadow:3px 3px 6px black;
}

main {
  margin: 0 auto;
}

.welcome{
    background-image:url("art.png");
    background-size:cover;
    background-position:center;

    height:500px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    padding:40px;
    margin-top: 50px;
}

.welcome h1{

    color:white;
    font-size:60px;
}

.welcome p{

    margin-top:10px;
    font-weight:bold;

}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
  background-color: #000000;
  margin: 0;
  text-align: center;
}

.logo {
    width: 400px;
    margin: 10px 0px;
}

#overlay {
    padding-top: 180px;
    font-style: italic;
}


h1 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin: 0px 0px;
}

.info-boxes{
    display:grid;
    grid-template-columns:repeat(4, 1fr);

    width:50%;
    margin:-150px auto 0;

    position:relative;
    z-index:2;
}

.box{
    background:#f7f1e6;
    color:#222;

    padding:20px;

    height:300px;

    border:1px solid #222;

    border-radius:0;

    box-shadow:none;

    text-align:left;
}

.box h3{
    font-size:16px;
    margin-bottom:20px;
    color:#222;
}

.box p{
    color:#444;
    line-height:1.4;
    font-style:italic;
    font-size:14px;
}

footer{

    margin-top:60px;
}

.footer-image{

    background-image:url("images/footer.jpg");
    height:180px;
    background-size:cover;
    background-position:center;

}

.footer-content{
    background:#111;
    color:white;
    display:flex;
    justify-content:space-around;
    paddinG:30px;
}
